/* @import url('./index.css'); */

body {
    overflow-x: hidden;
}
.main {
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    background-color: rgb(65, 84, 189);
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    width: 900px;
    height: fit-content;
    max-width: 900px;
    padding: 20px 50px 20px 50px;
    margin-top: 2%;
    /* align-items: center; */
}
.category, .tag{
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffdd;
    background-color: #1b258d;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: fit-content;
    /* display: flex; */
}
.tags-container{
    display: grid;
    grid-template-columns: repeat(10, auto);
    column-gap: 5px;
    margin-bottom: 10px;
}
.tag{
    font-size: 10pt;
    background-color: rgb(7, 69, 161);
    font-family: Arial, Helvetica, sans-serif;
    /* color: #ffffffdd; */
    font-size: 10pt;
}
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18pt;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
    border: none;
}
.image{
    margin-top: 10px;
    max-width: 500px;
    max-height: 220px;
    border-radius: 10%;
    border: 1px solid #14143b;
}
.created-at{
    margin-top: 30px;
}
/* .table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: white;
    border: none;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
} */
.buttons {
    /* position: relative; */
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: min-content min-content;
    margin-top: 10px;
}
.edit, .delete{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    position: relative;
    /* display: flex; */
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffdd;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    /* margin-left: 15px; */
    /* margin-top: 8px; */
}
.delete{
    /* margin-top: 50px; */
    /* margin-right: 9px; */
    margin-top: 22px;
    background-color: rgb(163, 7, 7);
    border-style: none;
}
.delete:hover{
    background-color: rgb(182, 4, 4);
}
.create-comment{
    position: relative;
    /* margin-right: auto;
    margin-left: 190px; */
    margin-bottom: 100px;
}
.comments{
    display: flex;
    justify-content: center;
    align-items: center;
}