.text, .form{
    margin-top: 10px;
}
.text{
    text-align: center;
    font-size: 20pt;
}
input, select, textarea{
    width: 50%;
    margin-left: 24%;
    margin-bottom: 10px;
    font-size: 12pt;
}
input[type=text], select, textarea{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50%;
    min-width: 50%;
    min-height: 75px;
}
input[type=submit]{
    background-color: rgb(65, 84, 189);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #1b258d;
}